---
# BasedOnStyle: Google
IndentWidth: 4
---
Language: C
ColumnLimit: 100
AlignConsecutiveAssignments:
  Enabled: true
AlignConsecutiveDeclarations:
  Enabled: true
AlignTrailingComments:
  Kind: TCAS_Always
  OverEmptyLines: 0
---
